# CO2 emissions. Examples with Pandas+Plotly
data source: United Nations, 2016.

In [2]:
import pandas as pd

In [3]:
from config import cfgInfo

In [4]:
data = "data/undata_emisspcap.csv"

In [5]:
df = pd.read_csv(data)

In [6]:
df.head()

,Indicator Code,Country or Area Code,Country or Area,Time Code,Year,Value,Value Footnotes
0,EN.ATM.CO2E.PC,AFG,Afghanistan,YR2011,2011,0.425262,NaN
1,EN.ATM.CO2E.PC,AFG,Afghanistan,YR2010,2010,0.302936,NaN
2,EN.ATM.CO2E.PC,AFG,Afghanistan,YR2009,2009,0.249074,NaN
3,EN.ATM.CO2E.PC,AFG,Afghanistan,YR2008,2008,0.158962,NaN
4,EN.ATM.CO2E.PC,AFG,Afghanistan,YR2007,2007,0.088141,NaN

In [7]:
df.count()

Indicator Code          10571
Country or Area Code    10571
Country or Area         10571
Time Code               10571
Year                    10571
Value                   10571
Value Footnotes             0
dtype: int64

In [8]:
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.tools as tls

In [9]:
ply_apikey = cfgInfo.get("ply_apikey")

In [10]:
ply_user = cfgInfo.get("ply_user")

In [11]:
py.sign_in(ply_user, ply_apikey)

In [12]:
chn = df[df['Country or Area Code'] == 'CHN']

In [13]:
chn.head()

,Indicator Code,Country or Area Code,Country or Area,Time Code,Year,Value,Value Footnotes
1855,EN.ATM.CO2E.PC,CHN,China,YR2011,2011,6.710302,NaN
1856,EN.ATM.CO2E.PC,CHN,China,YR2010,2010,6.172489,NaN
1857,EN.ATM.CO2E.PC,CHN,China,YR2009,2009,5.778143,NaN
1858,EN.ATM.CO2E.PC,CHN,China,YR2008,2008,5.311152,NaN
1859,EN.ATM.CO2E.PC,CHN,China,YR2007,2007,5.153564,NaN

In [14]:
data = [go.Bar(x=chn['Year'], y=chn['Value'])]

In [21]:
layout = go.Layout(
    title='China CO<sub>2</sub> emissions',
    xaxis=dict(
        title='',
        titlefont=dict(
            family='Arial, monospace',
            size=18,
            color='#7f7f7f'
        )
    ),
    yaxis=dict(
        title='metric tons per capita',
        titlefont=dict(
            family='Arial, monospace',
            size=14,
            color='#7f7f7f'
        )
    )
)

In [22]:
fig = go.Figure(data=data, layout=layout)

In [23]:
ply_url = py.plot(fig, filename='emissionspercap-bar-chart', layout=layout)

In [24]:
tls.embed(ply_url)

In [25]:
usa = df[df['Country or Area Code'] == 'USA']

In [26]:
usa.head()

,Indicator Code,Country or Area Code,Country or Area,Time Code,Year,Value,Value Footnotes
10026,EN.ATM.CO2E.PC,USA,United States,YR2011,2011,17.020216,NaN
10027,EN.ATM.CO2E.PC,USA,United States,YR2010,2010,17.484792,NaN
10028,EN.ATM.CO2E.PC,USA,United States,YR2009,2009,17.192379,NaN
10029,EN.ATM.CO2E.PC,USA,United States,YR2008,2008,18.489234,NaN
10030,EN.ATM.CO2E.PC,USA,United States,YR2007,2007,19.237460,NaN

In [27]:
esp = df[df['Country or Area Code'] == 'ESP']

In [28]:
esp.head()

,Indicator Code,Country or Area Code,Country or Area,Time Code,Year,Value,Value Footnotes
8745,EN.ATM.CO2E.PC,ESP,Spain,YR2011,2011,5.790764,NaN
8746,EN.ATM.CO2E.PC,ESP,Spain,YR2010,2010,5.815787,NaN
8747,EN.ATM.CO2E.PC,ESP,Spain,YR2009,2009,6.216973,NaN
8748,EN.ATM.CO2E.PC,ESP,Spain,YR2008,2008,7.165452,NaN
8749,EN.ATM.CO2E.PC,ESP,Spain,YR2007,2007,7.920891,NaN

In [29]:
trc_chn = go.Scatter(x=chn['Year'], 
                     y=chn['Value'],
                     mode = 'lines+markers',
                     name = 'China'
                    )

In [30]:
trc_usa = go.Scatter(x=usa['Year'], 
                     y=usa['Value'],
                     mode = 'lines+markers',
                     name = 'USA'
                    )

In [31]:
trc_esp = go.Scatter(x=esp['Year'], 
                     y=esp['Value'],
                     mode = 'lines+markers',
                     name = 'Spain'
                    )

In [32]:
data_2c = [trc_chn, trc_usa, trc_esp]

In [33]:
layout_2c = go.Layout(
    title='CO<sub>2</sub> emissions',
    xaxis=dict(
        title='',
        titlefont=dict(
            family='Arial, monospace',
            size=18,
            color='#7f7f7f'
        )
    ),
    yaxis=dict(
        title='metric tons per capita',
        titlefont=dict(
            family='Arial, monospace',
            size=14,
            color='#7f7f7f'
        )
    )
)

In [34]:
fig_2c = go.Figure(data=data_2c, layout=layout_2c)

In [35]:
ply_url_2c = py.plot(fig_2c, filename='emissionspercap-2c-bar-chart')

In [36]:
tls.embed(ply_url_2c)